# Core
fastapi
uvicorn
python-dotenv
pandas
tiktoken

# DB / pool
psycopg[binary,pool]

# Ingestion helpers
unstructured
unstructured[pdf]
unstructured[docx]
unstructured[image]
markdown
pytesseract
pymupdf

#Langchain
langchain>=0.2.14,<0.3.0
langgraph-sdk>=0.2.6,<0.3.0
langchain-community
langchain-openai
langchain-text-splitters
langchain-postgres

#Caching
redis
langchain-redis

#Re-Ranking
cohere
langchain-cohere

#Evals
ragas