# Core
fastapi
uvicorn
python-dotenv
pandas
tiktoken

# DB / pool
psycopg[binary,pool]

# Ingestion helpers
unstructured
unstructured[pdf]
unstructured[docx]
unstructured[image]
markdown
pytesseract
pymupdf

#Langchain
langchain~=0.2
langchain-postgres

#Caching
redis~=5.0
langchain-redis

#Re-Ranking
cohere
langchain-cohere

#Evals
ragas